---
import Layout from '~/layouts/PageLayout.astro';

import Header from '~/components/widgets/Header.astro';
import Hero from '~/components/widgets/Hero.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Nicolas Couturier&apos;s Personal Homepage',
};

---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Home', href: '#'},
        { text: 'About', href: '#about'},
        { text: 'Resume', href: '#resume' },
        { text: 'Blog', href: '#blog' },
        { text: 'Github', href: 'https://github.com/ncouturier' },
      ]}
      actions={[
        {
          text: 'Hire me',
          href: '#',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Nicolas Couturier"
    tagline="Personal Web"
    actions={[{ variant: 'primary', text: 'Hire me', href: getPermalink('/contact#form') },]}
  >
    <Fragment slot="subtitle">
      I&apos;m an Engineer passionate about possible uses of data. 
      <br /> With more than 20 years of experience and a degre in Statistics.
      Let&apos;s work together to create something new and amazing.
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[]}

    <!--  **************** 
[
 {
        icon: '',
        callToAction: {
          target: '_blank',
          text: '',
          href: '#',
        },
},]} 
-->

    image={{
      src: '/img/profile.png',
      alt: 'Colorful Image',
      loading: 'eager',
    }} >
    
    <Fragment slot="content">
      Still amazed by what can be done with data ! 
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  
  </Content>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Let&apos;s create together"
    subtitle="Ready to transform your vision using data ?"
    actions={[
      {
        variant: 'primary',
        text: 'Hire me',
        href: '/',
      },
    ]}
  />

  <!-- BlogLatestPost Widget **************** -->

  <BlogLatestPosts
    id="blog"
    title="Explore my blog"
    information={}>
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts>
</Layout>
